Test: more unit test coverage for HTTP parser

#72 has very limited set of test, so additional tests (as part of ```t/unit/test_http_parser.c```) must be developed to cover all pieces of HTTP parser:

1. Parsing the rest of request HTTP fields (special and raw);

2. Parsing of all response fields;

3. Parsing of request and response bodies;

4. Specific values for headers;

5. Duplicate headers;

6. Current version of ```do_split_and_parse()``` splits request only to 2 pieces, but it has sense to split it into more pieces, typically also using sliding number of pieces, to stress compound strings;

7. Check allowed and disallowed characters (e.g. '\r') at different places in accordance w/ RFC 7230. Also check other ASCII and non-ASCII bytes which aren't included into RFC's allowed alphabets;

8. Different values for Content-Length header matching and not matching the real body size;

9. Different URI data (host, path and arguments).

The design of the test must be moved to generation-based [fuzzer](https://en.wikipedia.org/wiki/Fuzz_testing) to reduce hard-coded data and manual coding. The design notes are the below:

* There should be HTTP message template with variable pieces (fuzzing strings) such as URI host, path and arguments, HTTP header name and values, message body. Numeric header values must contain negative, hex, dec, very big and invalid values. String values must include non-ASCII and invalid ASCII characters;

* There should be fuzzing numbers like number of chunks to split a message, number of common headers, number of header fields, number of URI arguments, the real length of message body;

* The fuzzer must be deterministic to be able to generate repeatable scenarios, i.e. there must be hard-coded rules and data lists to generate data;

* The fuzzing generator must be implemented in separate module so it could be reused for traffic generator.

Following papers describe number of special crafted attacking data and should give an idea which kind of data the fuzzed should generate:

* [“Divide and Conquer”, HTTP Response Splitting, Web Cache Poisoning Attacks, and Related Topics](http://packetstorm.wowhacker.com/papers/general/whitepaper_httpresponse.pdf)

* [HTTP Request Smuggling](https://www.owasp.org/index.php/HTTP_Request_Smuggling)

* [HTTP IDS Evasions Revisited](https://s3.amazonaws.com/snort-org-site/production/document_files/files/000/000/031/original/sf_HTTP_IDS_evasions.pdf?AWSAccessKeyId=AKIAIXACIED2SPMSC7GA&Expires=1442256752&Signature=JeAkze9CXdNG6jOAAXvTfVa22i8%3D)

* [Protocol-Level Evasion of Web Application Firewalls](https://community.qualys.com/blogs/securitylabs/2012/07/25/protocol-level-evasion-of-web-application-firewalls)

Pseudocode for the fuzzying HTTP requests generator:

        struct {
        	int i;
        	int max;
        } gen_vector = {
        	{0, X},
        	{0, Y},
        	{0, Z}
        	.....
        }
        
        // Cartesian product of indexes
        gen_vector_move():
        	for (i = sizeof(gen_vector) - 1; i; --i):
        		if (++gen_vector[i].i == gen_vector[i].max):
        			gen_vector[i].i = 0
        		break
        
        // Dummy string generator
        string(i):
        	str = ""
        	seed = "aMx0\03\r\0234"
        	for (j = 0; j < i; ++j):
        		str .= seed[((j + 333) ^ seed[j] % sizeof(seed)]
        	return str
        
        spaces():
        	str = ""
        	for (j = 0; j < igen_vector[SPACES]; ++j):
        		if (j % 2):
        			str .= '\t'
        		elseif (j % 3):
        			str .= '\r'
        		else
        			str .= ' '
        	return str
        
        method():
        	meth = {"GET", "HEAD", "POST", NULL, NULL, NULL}[gen_vector[METHOD].i]
        	if (meth)
        		return meth
        	// Generate a header
        	return string(gen_vector[METHOD].i)
        
        http_version():
        	ver = {"0.9", "1.0", "1.1", NULL}[gen_vector[HTTP_VER].i]
        	if (ver)
        		return meth
        	// Generate bad HTTP version
        	return string(gen_vector[METHOD].i)
        
        http_msg():
        	hm = method() . spaces()
        
        	hm .= gen_vector[URI_PATH_START] ? "/" : ""
        
        	for (i = 0; i < gen_vector[URI_PATH_DEPTH]; ++i):
        		hm .= string() . "/"
        	if (gen_vector[URI_FILE]):
        		hm .= string()
        	if (gen_vector[URI_ARGS_N):
        		hm .= "?"
        		for (i = 0; i < gen_vector[URI_ARGS_N]; ++i):
        			hm .= string()
        			if (i + 1 < gen_vector[URI_ARGS_N]):
        				hm .= "&"
        
        	hm .= spaces()
        	hm .= "HTTP" . http_version() . "\r\n"
        
        	// Generate headers like request string
        
        	gen_vector_move()
        
        	return hm


The fuzzer also must produce duplicate headers at some frequency. Probably it should duplicate each 1/N headers M times for current HTTP message, where N is global constant, so not each HTTP message has duplicates. M could change like ```M = curr_duplicates++ % MAX_DUPLICATES```.

Please add zero-length HTTP headers to the fuzzer and HTTP parser unit test. See https://github.com/natsys/tempesta/pull/329/files#r44211525 for details:

The initial ```RGEN_LWS()``` was written by RFC 2616 which allows line folding for headers. I.e. following request is correct in terms of RFC 2616:

        GET / HTTP/1.1\r\n
        Host:    \r\n
                foo.com\r\n
        Connection: close\r\n
        \r\n

Note that spaces precedes "foo.com" and this is required by RFC 2616. However, the logic is broken in initial ```RGEN_LWS()``` and "Connection: close" will be treated as Host header value in following request:

        GET / HTTP/1.1\r\n
        Host:\r\n
        Connection: close\r\n
        \r\n

Moreover, the feature is prohibited in RFC 7230:

        This specification deprecates such line folding except within the message/http
        media type (Section 8.3.1).

We don't use the parser to process body of ```message/http``` content type. RFC 7230 defines ```field-value``` as ```*( field-content / obs-fold )``` which could be zero length according to ABNF, RFC 5234, chapter 3.6. So we should process zero-length HTTP headers normally.

Create new issues if the parser fails on such headers.