Incorrect handling of responses to HEAD requests

Response to a HEAD request has the header part that is identical to that of a response to an identical GET request. The difference with a response to a GET request is that response to a HEAD request doesn't have an actual body even though the header part may indicate that it does. Please see [RFC2616 Section 9.4](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4).

Currently Tempesta doesn't know the difference and expects a body in a response to a HEAD request.

The RFC also mentions the consequences to caching that need to be taken care of.

Fixed with commit c5a44bd.